 <!--===== FOOTER =====-->
 <br><br><br>
 <footer class="footer">
    <p class="footer__title">SARGAM</p>
    <div class="footer__social">
        <a href="#" class="footer__icon"><i class='bx bxl-facebook'></i></a>
        <a href="https://www.instagram.com/customized.sargam/" class="footer__icon"><i
                class='bx bxl-instagram'></i></a>
        <a href="https://api.whatsapp.com/send?phone=917988453739" class="footer__icon"><i
                class='bx bxl-whatsapp'></i></a>

    </div>
    <p class="footer__copy">&#169; SARGAM. All rigths reserved</p>
</footer>


<!--===== SCROLL REVEAL =====-->
<script src="https://unpkg.com/scrollreveal"></script>

<!--===== MAIN JS =====-->
<script src="/assets/js/mainLayout.js"></script>