<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/assets/css/stylesLayout.css">

    <!-- =====BOX ICONS===== -->
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

   <link rel="icon" type="image/png" href="assets/img/favicon.png" />
   <link rel="shortcut icon" type="image/png" href="assets/img/favicon.png" />
   <link rel="apple-touch-icon" sizes="180x180" href="assets/img/fav180.png" />
   <link rel="icon" type="image/png" sizes="192x192" href="assets/img/fav192.png" />
   <meta name="msapplication-TileImage" content="assets/img/fav144.png" />
   <meta name="msapplication-TileColor" content="#ffffff" />


    <title>Sargam</title>