<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>

</head>

<body>
    <%- include('./partials/header'); %>



    <!-- ****************************************MAIN START**************************** -->
    <main class="l-main">



        <section class="contact section" id="contact">
            <h2 class="section-title">
                <%=pageTitle%>
            </h2>

            <div class="contact__container bd-grid">

                <!-- Content Here -->

            </div>

        </section>


    </main>
    <!-- ****************************************MAIN END**************************** -->

    <%- include('./partials/footer'); %>

</body>

</html>