<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Welcome to Sargam, Your premier destination for transforming life's stories into unforgettable melodies! Immerse yourself in the art of customized music creation for special occasions. From heartwarming birthday tunes to enchanting wedding melodies and timeless anniversary gifts, Sargam crafts bespoke songs that resonate with the essence of your unique journey. Elevate your celebrations with personalized soundtracks that capture the magic of your moments. Explore the power of music at Sargam!" />
    <meta name="keywords" content="customized music, personalized songs, special occasions, Sargam, bespoke melodies, birthday songs, wedding music, anniversary gifts, emotional masterpiece, unique compositions, celebratory soundtracks, unforgettable moments, tailor-made songs, musical experiences, symphony of memories, storytelling through music" />
    

    <link rel="stylesheet" href="assets/css/styles.css">

    <!-- =====BOX ICONS===== -->
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

    <!-- Standard favicon -->
    <link rel="icon" type="image/png" href="assets/img/favicon.png" />
    <!-- For IE 11 or older -->
    <link rel="shortcut icon" type="image/png" href="assets/img/favicon.png" />
    <!-- For iPhone and iPad -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/fav180.png" />
    <!-- For Android devices -->
    <link rel="icon" type="image/png" sizes="192x192" href="assets/img/fav192.png" />
    <!-- For Windows tiles -->
    <meta name="msapplication-TileImage" content="assets/img/fav144.png" />
    <meta name="msapplication-TileColor" content="#ffffff" />


    <title>Sargam</title>
</head>

<body>
    <!--===== HEADER =====-->
    <header class="l-header">
        <nav class="nav bd-grid">
            <div>
                <a href="/" class="nav__logo">SARGAM</a>
            </div>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item"><a href="#home" class="nav__link active-link">Home</a></li>
                    <li class="nav__item"><a href="#about" class="nav__link">About</a></li>
                    <li class="nav__item"><a href="#work" class="nav__link">Pricing</a></li>
                    <li class="nav__item"><a href="#skills" class="nav__link">Why us?</a></li>
                    <li class="nav__item"><a href="/onboard2" class="nav__link">Login</a></li>
                </ul>
            </div>

            <div class="nav__toggle" id="nav-toggle">
                <i class='bx bx-menu'></i>
            </div>
        </nav>
    </header>

    <main class="l-main">
        <!--===== HOME =====-->
        <section class="home bd-grid" id="home">
            <div class="home__data">
                <h1 class="home__title">Turn Your Stories into<br> Melodies with,<br>
                    <!-- <br>Your Story, -->
                    <span class="home__title-color">SARGAM.</span><br>🎶
                </h1>
                <!-- Sargam: Your Story, Your Song - Elevate Your Occasions with Tailored Melodies! 🌟🎶 -->
                <a href="/onboard" class="button">Let's Go</a>
            </div>

            <div class="home__social">

                <a href="#" class="home__social-icon"><i class='bx bxl-facebook-square'></i></a>
                <a href="https://www.instagram.com/customized.sargam/" class="home__social-icon"><i
                        class='bx bxl-instagram-alt'></i></a>
                <a href="https://api.whatsapp.com/send?phone=917988453739" class="home__social-icon"><i
                        class='bx bxl-whatsapp'></i></a>
            </div>

            <div class="home__img">
                <svg class="home__blob" viewBox="0 0 479 467" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink">
                    <mask id="mask0" mask-type="alpha">
                        <path
                            d="M9.19024 145.964C34.0253 76.5814 114.865 54.7299 184.111 29.4823C245.804 6.98884 311.86 -14.9503 370.735 14.143C431.207 44.026 467.948 107.508 477.191 174.311C485.897 237.229 454.931 294.377 416.506 344.954C373.74 401.245 326.068 462.801 255.442 466.189C179.416 469.835 111.552 422.137 65.1576 361.805C17.4835 299.81 -17.1617 219.583 9.19024 145.964Z" />
                    </mask>
                    <g mask="url(#mask0)">
                        <path
                            d="M9.19024 145.964C34.0253 76.5814 114.865 54.7299 184.111 29.4823C245.804 6.98884 311.86 -14.9503 370.735 14.143C431.207 44.026 467.948 107.508 477.191 174.311C485.897 237.229 454.931 294.377 416.506 344.954C373.74 401.245 326.068 462.801 255.442 466.189C179.416 469.835 111.552 422.137 65.1576 361.805C17.4835 299.81 -17.1617 219.583 9.19024 145.964Z" />
                        <image class="home__blob-img" x="50" y="170" href="assets/img/img2.png" />
                    </g>
                </svg>
            </div>
        </section>

        <!--===== ABOUT =====-->
        <section class="about section " id="about">
            <h2 class="section-title">About</h2>

            <div class="about__container bd-grid">
                <div class="about__img">
                    <img id="banner" src="assets/img/txt1.png" alt="">
                </div>

                <div>
                    <h2 class="about__subtitle">Welcome to Sargam, <br>where stories become melodies.</h2>
                    <p class="about__text">
                        We specialize in crafting personalized soundtracks for your special moments. Our skilled
                        musicians collaborate closely with you to ensure each note resonates with the depth of your
                        unique journey. Let Sargam be the orchestrator of the soundtrack to your life's most memorable
                        chapters. Discover the magic of personalized melodies with us!</p>
                </div>
            </div>


            <div class="about__container bd-grid center1">

                <img id="banner2" src="assets/img/txt2.png" alt="">

            </div>





        </section>



        <!-- PRICING -->

        <section class="work section" id="work">
            <h2 class="section-title">PRICING</h2>

            <div class="work__container bd-grid">
                <!-- Card 1 -->
                <div class="card">
                    <div class="card-content">
                        <h3 class="card-title">₹1800</h3>
                        <ul class="card-list">
                            <li>Basic</li>
                            <li>Duration - 1 to 2 min</li>
                            <li>Customizable</li>
                            <li>Orignal</li>
                        </ul>
                        <!-- <p class="card-description">This is a description for Card 1.</p> -->
                        <a href="#" class="card-button" onclick="handleButtonClick(event)">Create</a>
                    </div>
                </div>


                <!-- Card 2 -->
                <div class="card">
                    <div class="card-content">
                        <h3 class="card-title">₹2499</h3>
                        <ul class="card-list">
                            <li>Standard</li>
                            <li>Duration - 2 to 3 min</li>
                            <li>Customizable</li>
                            <li>Orignal</li>
                        </ul>
                        <!-- <p class="card-description">This is a description for Card 1.</p> -->
                        <a href="#" class="card-button" onclick="handleButtonClick(event)">Create</a>
                    </div>
                </div>


                <!-- Card 3 -->
                <div class="card">
                    <div class="card-content">
                        <h3 class="card-title">₹3999</h3>
                        <ul class="card-list">
                            <li>Premium</li>
                            <li>Duration - 3 to 4 min</li>
                            <li>Customizable</li>
                            <li>Orignal</li>
                        </ul>
                        <!-- <p class="card-description">This is a description for Card 1.</p> -->
                        <a href="#" class="card-button" onclick="handleButtonClick(event)">Create</a>
                    </div>
                </div>



                <!-- Card 4 -->
                <div class="card">
                    <div class="card-content">
                        <h3 class="card-title">₹5999</h3>
                        <ul class="card-list">
                            <li>Professional</li>
                            <li>Duration - 3 to 4 min</li>
                            <li>Customizable</li>
                            <li>Orignal</li>
                        </ul>
                        <!-- <p class="card-description">This is a description for Card 1.</p> -->
                        <a href="#" class="card-button" onclick="handleButtonClick(event)">Create</a>
                    </div>
                </div>



            </div>
        </section>



        <!--===== WHY SaRGAM =====-->
        <section class="skills section" id="skills">
            <h2 class="section-title">Why us?</h2>

            <div class="skills__container bd-grid">
                <div>
                    <h2 class="skills__subtitle">Why SARGAM?</h2>
                    <p class="skills__text">Why choose Sargam for your musical journey?
                        <br> <br>
                        ✨ <b>Tailored Harmonies</b>: Every story is a masterpiece, and we believe your music should be
                        too. Our talented musicians collaborate with you to create a bespoke composition that mirrors
                        the essence of your journey.
                        <br><br>
                        🌟 <b>Unforgettable Celebrations</b>: Elevate your special occasions with a custom soundtrack.
                        Our #customizedsongs add a magical touch to birthdays, weddings, anniversaries, and more,
                        turning ordinary moments into extraordinary memories.
                        <br><br>
                        🎵 <b>Versatility in Melodies</b>: Whether you prefer soulful ballads or upbeat tunes, Sargam
                        adapts to your preferred genre. Your story, your style – we are here to bring your vision to
                        life through music.
                        <br><br>
                        💖 <b>Heartfelt Gifts</b>: Give the gift of music that speaks volumes. A custom song from Sargam
                        is not just a melody; it's an emotional masterpiece that will be cherished for a lifetime.
                        <br><br>
                        Ready to let the music of your story unfold? Explore our services and let's create something
                        extraordinary together.
                    </p>
                    <br><br>
                </div>

                <div>
                    <img src="assets/img/img3.png" alt="" class="skills__img">
                </div>
            </div>
        </section>



        <!--===== CONTACT =====-->
        <!-- <section class="contact section" id="contact">
            <h2 class="section-title">Contact</h2>

            <div class="contact__container bd-grid">
                <form action="" class="contact__form">
                    <input type="text" placeholder="Name" class="contact__input">
                    <input type="mail" placeholder="Email" class="contact__input">
                    <textarea name="" id="" cols="0" placeholder="Message" rows="10" class="contact__input"></textarea>
                    <input type="button" value="SEND" class="contact__button button">
                </form>
            </div>
        </section> -->
    </main>

    <!--===== FOOTER =====-->
    <footer class="footer">
        <p class="footer__title">SARGAM</p>

        <div class="footer__row">
            <div class="footer__column">
                <h3>Contact Us</h3>
                <p>Email: info@sargam.com</p>
                <p>Phone: +91 123 456 789</p>
                <!-- Add any other contact information you want -->
            </div>

            <div class="footer__column">
                <h3>Quick Links</h3>
                <ul>
                    <li><a href="/staticPP" class="whiteT">Privacy Policy</a></li>
                    <li><a href="/staticTC" class="whiteT">Terms and Conditions</a></li>
                    <li><a href="/staticCP" class="whiteT">Refunds & Cancellation Policy</a></li>
                    <!-- Add more links as needed -->
                </ul>
            </div>
        </div>

        <div class="footer__social">
            <a href="#" class="footer__icon"><i class='bx bxl-facebook'></i></a>
            <a href="https://www.instagram.com/customized.sargam/" class="footer__icon"><i
                    class='bx bxl-instagram'></i></a>
            <a href="https://api.whatsapp.com/send?phone=917988453739" class="footer__icon"><i
                    class='bx bxl-whatsapp'></i></a>

        </div>
        <p class="footer__copy">&#169; SARGAM. All rigths reserved</p>
    </footer>


    <!--===== SCROLL REVEAL =====-->
    <script src="https://unpkg.com/scrollreveal"></script>

    <!--===== MAIN JS =====-->
    <script src="assets/js/main.js"></script>
</body>

</html>