<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/assets/css/stylesSuccess.css">

    <!-- =====BOX ICONS===== -->
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" href="assets/img/fav.ico" type="image/x-icon">

    <title>Sargam</title>
</head>

<body>
    <!--===== HEADER =====-->
    <br><br><br>
    <header class="l-header">
        <nav class="nav bd-grid">
            <div>
                <a href="/" class="nav__logo">SARGAM</a>
            </div>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item"><a href="#" onclick="handleButtonClick(event)"
                            class="nav__link active-link">Home</a></li>
                    <li class="nav__item"><a href="#" onclick="handleButtonClick(event)" class="nav__link">About</a>
                    </li>
                    <li class="nav__item"><a href="#" onclick="handleButtonClick(event)" class="nav__link">Pricing</a>
                    </li>
                    <li class="nav__item"><a href="#" onclick="handleButtonClick(event)" class="nav__link">Why us?</a>
                    </li>
                    <li class="nav__item"><a href="#" onclick="handleButtonClick(event)" class="nav__link">Contact</a>
                    </li>
                </ul>
            </div>

            <div class="nav__toggle" id="nav-toggle">
                <i class='bx bx-menu'></i>
            </div>
        </nav>
    </header>

    <main class="l-main">



        <section class="contact section" id="contact">
            <h2 class="section-title">Let's get started</h2>

            <div class="contact__container bd-grid">

                <!-- !wait notice -->
                <center>
                    <h1>Please do not refresh this page...</h1>
                </center>

                <form id="paytmForm" method="post">
                    <table border="1">
                        <tbody>
                            <!-- Add hidden input fields for each property in resultData -->
                            <input type="hidden" id="paytmFinalUrl" name="paytmFinalUrl">
                            <input type="hidden" id="resultData" name="resultData">
                        </tbody>
                    </table>
                </form>
                <!-- ! -->


            </div>

        </section>


    </main>

    <!--===== FOOTER =====-->
    <footer class="footer">
        <p class="footer__title">SARGAM</p>
        <div class="footer__social">
            <a href="#" class="footer__icon"><i class='bx bxl-facebook'></i></a>
            <a href="#" class="footer__icon"><i class='bx bxl-instagram'></i></a>
            <a href="#" class="footer__icon"><i class='bx bxl-whatsapp'></i></a>

        </div>
        <p class="footer__copy">&#169; SARGAM. All rigths reserved</p>
    </footer>


    <!--===== SCROLL REVEAL =====-->
    <script src="https://unpkg.com/scrollreveal"></script>

    <!--===== MAIN JS =====-->
    <script src="/assets/js/mainSuccess.js"></script>

    <script type="text/javascript">
        // Access the JSON data from the hidden input field
        const resultData = JSON.parse(document.getElementById('resultData').value);

        // Log the resultData to the console (you can use it in your logic)
        console.log(resultData);

        // Set the action attribute of the form based on the dynamic paytmFinalUrl
        document.getElementById('paytmForm').action = document.getElementById('paytmFinalUrl').value;

        // Automatically submit the form after rendering
        document.getElementById('paytmForm').submit();
    </script>
</body>

</html>