<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./../partials/head'); %>

</head>

<body>
    <%- include('./../partials/header'); %>



        <main class="l-main">



            <section class="contact section" id="contact">
                <h2 class="section-title">
                    Refunds & Cancellation Policy

                </h2>

                <div class="contact__container bd-grid">

                    <!-- c s -->

                    <p>We want to ensure that you have a satisfying experience with our services. Please read our
                        Refunds & Cancellation Policy carefully.</p>

                    <h3>Refund Policy</h3>

                    <p>If you are not completely satisfied with our services, you may be eligible for a refund. To
                        request a refund, please contact our customer support within 2 days of your purchase. Refunds
                        are processed within 10 business days.</p>

                    <h3>Cancellation Policy</h3>

                    <p>You can cancel your order within 7 days from the date of half payment to receive a full refund.
                        After 7 days, cancellations may be subject to a cancellation fee.</p>

                    <h3>Contact Us</h3>

                    <p>If you have any questions about our Refunds & Cancellation Policy, please contact us at <a
                            href="mailto:sargam.contact@gmail.com">sargam.contact@gmail.com</a>.</p>

                    <!-- c e -->

                </div>

            </section>


        </main>

        <%- include('./../partials/footer'); %>

</body>

</html>